body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    /* border: 1px solid #ccc; */
    padding: 10px;
    box-shadow: 1px 1px 10px #444;
    border-radius: 10px;
}

ul {
    padding-left: 0;
    color: #333;
}

.top {
    height: 30px;
}

.top>div {
    float: left;
    position: relative;
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

.prev {
    position: absolute;
    left: 0px;
    top: 0px;
    font-weight: bold;
    font-size: 20px;
    color: #31A4E2;
    cursor: pointer;
}

input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 5px;
    border: 1px solid #fff;
    width: 40px;
}

.next {
    position: absolute;
    right: 0px;
    top: 0px;
    font-weight: bold;
    font-size: 20px;
    color: #31A4E2;
    cursor: pointer;
}


div.btn {
    width: 50px;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    background-color: burlywood;
    color: #fff;
    cursor: pointer;
}

div.btn:hover {
    background-color: #C9A77C;
}

.level1ul li {
    list-style: none;
}

.level2ul {
    height: 40px;
}

.level2ul li {
    list-style: none;
    float: left;
    width: 70px;
    height: 70px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
}

.level2ul li {
    border-top: 1px solid #E8B685;
    border-right: 1px solid #E8B685;
}

.level2ul li:first-child {
    border-left: 1px solid #E8B685;
}

.level2ul6 li {
    border-bottom: 1px solid #E8B685;
}

.level2ul1 li:first-child {
    border-top-left-radius: 5px;
}

.level2ul1 li:last-child {
    border-top-right-radius: 5px;
}

.level2ul6 li:first-child {
    border-bottom-left-radius: 5px;
}

.level2ul6 li:last-child {
    border-bottom-right-radius: 5px;
}

.day li {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    border-bottom: 1px solid #E8B685;
    background-color: #E8B685;
    color: #fff;
}

.day {
    margin-bottom: 10px;
}

.day li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.day li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.active1 {
    color: red;
    font-weight: bold;
}

.msg1 {
    display: inline-block;
    width: 100%;
}

.msg2 {
    font-size: 12px;
    color: #666;
}

div.msg3 {
    font-size: 20px;
    width: 100px;
    margin-left: 20px;
}